<!-- Top Estate -->
<section id="property" class="padding bg_gallery">
  <div class="container">
    <div class="row">
      <div class="col-sm-12 text-center">
        <h2 class="uppercase">BĐS CẬP NHẬT</h2>
        <p class="heading_space">Những tin đăng cập nhật trong ngày đã được ACG kiểm duyệt chất lượng.</p>
      </div>
    </div>
    <div class="clearfix">
      <div id="filters-property" class="cbp-l-filters-button text-center">
        <div data-filter=".latest" class="cbp-filter-item-active cbp-filter-item">Mới Nhất</div>
        <div data-filter=".sale" class="cbp-filter-item">Bán</div>
        <div data-filter=".rent" class="cbp-filter-item">Cho Thuê</div>
      </div>
    </div>
    <div id="property-gallery" class="cbp listing1">
      <div class="cbp-item latest sale">
        <div class="property_item">
          <div class="image">
            <a href=""><img src="assets/images/listing1.jpg" alt="latest property" class="img-responsive"></a>
            <div class="price clearfix">
              <span class="tag pull-right">$8,600 Per Month</span>
            </div>
            <span class="tag_t">For Sale</span>
            <span class="tag_l">Featured</span>
          </div>
          <div class="proerty_content">
            <div class="proerty_text">
              <h3 class="captlize"><a href="">Park avenue apartment</a></h3>
              <p>45 Regent Street, London, UK</p>
            </div>
            <div class="property_meta transparent">
              <span><i class="icon-select-an-objecto-tool"></i>4800 sq ft</span>
              <span><i class="icon-bed"></i>2 Office Rooms</span>
              <span><i class="icon-safety-shower"></i>1 Bathroom</span>
            </div>
            <div class="property_meta transparent bottom30">
              <span><i class="icon-old-television"></i>TV Lounge</span>
              <span><i class="icon-garage"></i>1 Garage</span>
              <span></span>
            </div>
            <div class="favroute clearfix">
              <p><i class="icon-calendar2"></i>&nbsp;5 Days ago </p>
            </div>
          </div>
        </div>
      </div>
      <div class="cbp-item latest rent">
        <div class="property_item">
          <div class="image">
            <a href=""><img src="assets/images/listing2.jpg" alt="latest property" class="img-responsive"></a>
            <div class="price clearfix">
              <span class="tag pull-right">$8,600 Per Month</span>
            </div>
            <span class="tag_t">For Rent</span>
          </div>
          <div class="proerty_content">
            <div class="proerty_text">
              <h3 class="captlize"><a href="">Park avenue apartment</a></h3>
              <p>45 Regent Street, London, UK</p>
            </div>
            <div class="property_meta transparent">
              <span><i class="icon-select-an-objecto-tool"></i>4800 sq ft</span>
              <span><i class="icon-bed"></i>2 Office Rooms</span>
              <span><i class="icon-safety-shower"></i>1 Bathroom</span>
            </div>
            <div class="property_meta transparent bottom30">
              <span><i class="icon-old-television"></i>TV Lounge</span>
              <span><i class="icon-garage"></i>1 Garage</span>
              <span></span>
            </div>
            <div class="favroute clearfix">
              <p><i class="icon-calendar2"></i>&nbsp;5 Days ago </p>
            </div>
          </div>
        </div>
      </div>
      <div class="cbp-item latest sale">
        <div class="property_item">
          <div class="image">
            <a href=""><img src="assets/images/listing3.jpg" alt="latest property" class="img-responsive"></a>
            <div class="price clearfix">
              <span class="tag pull-right">$8,600 Per Month</span>
            </div>
            <span class="tag_t">For Sale</span>
            <span class="tag_l">Featured</span>
          </div>
          <div class="proerty_content">
            <div class="proerty_text">
              <h3 class="captlize"><a href="">Park avenue apartment</a></h3>
              <p>45 Regent Street, London, UK</p>
            </div>
            <div class="property_meta transparent">
              <span><i class="icon-select-an-objecto-tool"></i>4800 sq ft</span>
              <span><i class="icon-bed"></i>2 Office Rooms</span>
              <span><i class="icon-safety-shower"></i>1 Bathroom</span>
            </div>
            <div class="property_meta transparent bottom30">
              <span><i class="icon-old-television"></i>TV Lounge</span>
              <span><i class="icon-garage"></i>1 Garage</span>
              <span></span>
            </div>
            <div class="favroute clearfix">
              <p><i class="icon-calendar2"></i>&nbsp;5 Days ago </p>
            </div>
          </div>
        </div>
      </div>
      <div class="cbp-item latest rent">
        <div class="property_item">
          <div class="image">
            <a href=""><img src="assets/images/listing4.jpg" alt="latest property" class="img-responsive"></a>
            <div class="price clearfix">
              <span class="tag pull-right">$8,600 Per Month</span>
            </div>
            <span class="tag_t">For Rent</span>
          </div>
          <div class="proerty_content">
            <div class="proerty_text">
              <h3 class="captlize"><a href="">Park avenue apartment</a></h3>
              <p>45 Regent Street, London, UK</p>
            </div>
            <div class="property_meta transparent">
              <span><i class="icon-select-an-objecto-tool"></i>4800 sq ft</span>
              <span><i class="icon-bed"></i>2 Office Rooms</span>
              <span><i class="icon-safety-shower"></i>1 Bathroom</span>
            </div>
            <div class="property_meta transparent bottom30">
              <span><i class="icon-old-television"></i>TV Lounge</span>
              <span><i class="icon-garage"></i>1 Garage</span>
              <span></span>
            </div>
            <div class="favroute clearfix">
              <p><i class="icon-calendar2"></i>&nbsp;5 Days ago </p>
            </div>
          </div>
        </div>
      </div>
      <div class="cbp-item latest sale">
        <div class="property_item">
          <div class="image">
            <a href=""><img src="assets/images/listing8.jpg" alt="latest property" class="img-responsive"></a>
            <div class="price clearfix">
              <span class="solid">Solid Out</span>
            </div>
            <span class="tag_t">For Sale</span>
          </div>
          <div class="proerty_content">
            <div class="proerty_text">
              <h3 class="captlize"><a href="">Park avenue apartment</a></h3>
              <p>45 Regent Street, London, UK</p>
            </div>
            <div class="property_meta transparent">
              <span><i class="icon-select-an-objecto-tool"></i>4800 sq ft</span>
              <span><i class="icon-bed"></i>2 Office Rooms</span>
              <span><i class="icon-safety-shower"></i>1 Bathroom</span>
            </div>
            <div class="property_meta transparent bottom30">
              <span><i class="icon-old-television"></i>TV Lounge</span>
              <span><i class="icon-garage"></i>1 Garage</span>
              <span></span>
            </div>
            <div class="favroute clearfix">
              <p><i class="icon-calendar2"></i>&nbsp;5 Days ago </p>
            </div>
          </div>
        </div>
      </div>
      <div class="cbp-item latest sale">
        <div class="property_item">
          <div class="image">
            <a href=""><img src="assets/images/listing6.jpg" alt="latest property" class="img-responsive"></a>
            <div class="price clearfix">
              <span class="tag pull-right">$8,600 Per Month</span>
            </div>
            <span class="tag_t">For Sale</span>
            <span class="tag_l">Featured</span>
          </div>
          <div class="proerty_content">
            <div class="proerty_text">
              <h3 class="captlize"><a href="">Park avenue apartment</a></h3>
              <p>45 Regent Street, London, UK</p>
            </div>
            <div class="property_meta transparent">
              <span><i class="icon-select-an-objecto-tool"></i>4800 sq ft</span>
              <span><i class="icon-bed"></i>2 Office Rooms</span>
              <span><i class="icon-safety-shower"></i>1 Bathroom</span>
            </div>
            <div class="property_meta transparent bottom30">
              <span><i class="icon-old-television"></i>TV Lounge</span>
              <span><i class="icon-garage"></i>1 Garage</span>
              <span></span>
            </div>
            <div class="favroute clearfix">
              <p><i class="icon-calendar2"></i>&nbsp;5 Days ago </p>
            </div>
          </div>
        </div>
      </div>
      <div class="cbp-item latest rent">
        <div class="property_item">
          <div class="image">
            <a href=""><img src="assets/images/listing7.jpg" alt="latest property" class="img-responsive"></a>
            <div class="price clearfix">
              <span class="tag pull-right">$8,600 Per Month</span>
            </div>
            <span class="tag_t">For Rent</span>
            <span class="tag_l">Featured</span>
          </div>
          <div class="proerty_content">
            <div class="proerty_text">
              <h3 class="captlize"><a href="">Park avenue apartment</a></h3>
              <p>45 Regent Street, London, UK</p>
            </div>
            <div class="property_meta transparent">
              <span><i class="icon-select-an-objecto-tool"></i>4800 sq ft</span>
              <span><i class="icon-bed"></i>2 Office Rooms</span>
              <span><i class="icon-safety-shower"></i>1 Bathroom</span>
            </div>
            <div class="property_meta transparent bottom30">
              <span><i class="icon-old-television"></i>TV Lounge</span>
              <span><i class="icon-garage"></i>1 Garage</span>
              <span></span>
            </div>
            <div class="favroute clearfix">
              <p><i class="icon-calendar2"></i>&nbsp;5 Days ago </p>
            </div>
          </div>
        </div>
      </div>
      <div class="cbp-item latest sale">
        <div class="property_item">
          <div class="image">
            <a href=""><img src="assets/images/listing5.jpg" alt="latest property" class="img-responsive"></a>
            <div class="price clearfix">
              <span class="tag pull-right">$8,600 Per Month</span>
            </div>
            <span class="tag_t">For Sale</span>
            <span class="tag_l">Featured</span>
          </div>
          <div class="proerty_content">
            <div class="proerty_text">
              <h3 class="captlize"><a href="">Park avenue apartment</a></h3>
              <p>45 Regent Street, London, UK</p>
            </div>
            <div class="property_meta transparent">
              <span><i class="icon-select-an-objecto-tool"></i>4800 sq ft</span>
              <span><i class="icon-bed"></i>2 Office Rooms</span>
              <span><i class="icon-safety-shower"></i>1 Bathroom</span>
            </div>
            <div class="property_meta transparent bottom30">
              <span><i class="icon-old-television"></i>TV Lounge</span>
              <span><i class="icon-garage"></i>1 Garage</span>
              <span></span>
            </div>
            <div class="favroute clearfix">
              <p><i class="icon-calendar2"></i>&nbsp;5 Days ago </p>
            </div>
          </div>
        </div>
      </div>
      <div class="cbp-item latest sale">
        <div class="property_item">
          <div class="image">
            <a href=""><img src="assets/images/listing9.jpg" alt="latest property" class="img-responsive"></a>
            <div class="price clearfix">
              <span class="tag pull-right">$8,600 Per Month</span>
            </div>
            <span class="tag_t">For Sale</span>
            </div>
          <div class="proerty_content">
            <div class="proerty_text">
              <h3 class="captlize"><a href="">Park avenue apartment</a></h3>
              <p>45 Regent Street, London, UK</p>
            </div>
            <div class="property_meta transparent">
              <span><i class="icon-select-an-objecto-tool"></i>4800 sq ft</span>
              <span><i class="icon-bed"></i>2 Office Rooms</span>
              <span><i class="icon-safety-shower"></i>1 Bathroom</span>
            </div>
            <div class="property_meta transparent bottom30">
              <span><i class="icon-old-television"></i>TV Lounge</span>
              <span><i class="icon-garage"></i>1 Garage</span>
              <span></span>
            </div>
            <div class="favroute clearfix">
              <p><i class="icon-calendar2"></i>&nbsp;5 Days ago </p>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="col-sm-12 text-center top20">
       <a href="listing1.html" class="btn-dark border_radius uppercase margin40">more listings</a>
    </div>
  </div>
</section>
<!-- Top Estate End -->
