<!--Header-->
<div id="mainMenuBarAnchor"></div>
<header class="white_header">
  <nav class="navbar navbar-default bootsnav">
    <div class="container">
      <div class="row">
        <div class="col-sm-12">
          <div class="attr-nav">
            <div class="upper-column info-box first">
              <div class="icons"><i class="icon-telephone114"></i></div>
              <ul>
                <li><strong>Số điện thoại</strong></li>
                <li>+1 900 234 567 - 68</li>
              </ul>
            </div>
          </div>
          <div class="navbar-header">
            <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#navbar-menu">
            <i class="fa fa-bars"></i>
            </button>
            <a class="navbar-brand" href=""><img src="assets/images/logo.png" class="logo" alt=""></a>
          </div>
          <div class="collapse navbar-collapse" id="navbar-menu">
            <ul class="nav navbar-nav navbar-right" data-in="fadeIn" data-out="fadeOut">
              <li class="dropdown">
                <a href="">Mua</a>
              </li>
              <li class="dropdown megamenu-fw">
                <a href="">Thuê</a>
              </li>
              <li class="dropdown megamenu-fw">
                <a href="">Dự Án</a>
              </li>
              <li class="dropdown">
                <a href="#." class="dropdown-toggle" data-toggle="dropdown">Tin BĐS</a>
                <ul class="dropdown-menu">
                  <li class="dropdown">
                    <a href="">BLOG ACG</a>
                  </li>
                  <li class="dropdown">
                    <a href="">Nhà đẹp</a>
                  </li>
                  <li class="dropdown">
                    <a href="">Kiến thức</a>
                  </li>
                </ul>
              </li>
              <li class="dropdown">
                <a href="#." class="dropdown-toggle" data-toggle="dropdown">Giới Thiệu</a>
                <ul class="dropdown-menu">
                  <li class="dropdown">
                    <a href="">Dịch vụ</a>
                  </li>
                  <li class="dropdown">
                    <a href="">Đối tác</a>
                  </li>
                  <li class="dropdown">
                    <a href="">Truyền thông</a>
                  </li>
                  <li class="dropdown">
                    <a href="">Quy chế hoạt động</a>
                  </li>
                </ul>
              </li>
              <li class="dropdown">
                <a href="">Đăng nhập / Đăng ký</a>
              </li>
            </ul>
          </div>
        </div>
      </div>
    </div>
  </nav>
</header>
<!--Header Ends-->
