<!--Slider-->
<div class="rev_slider_wrapper">
  <div id="rev_overlaped" class="rev_slider"  data-version="5.0">
    <ul>
      <!-- SLIDE -->
      <li data-transition="fade">
        <img src="assets/images/home1-banner1.jpg" alt="" data-bgposition="center center" data-bgfit="cover" class="rev-slidebg">
      </li>
      <li data-transition="fade">
        <img src="assets/images/home1-banner2.jpg" alt="" data-bgposition="center center" data-bgfit="cover" class="rev-slidebg">
      </li>
      <li data-transition="fade">
        <img src="assets/images/home1-banner3.jpg" alt="" data-bgposition="center center" data-bgfit="cover" class="rev-slidebg">
      </li>
      <div class="tp-static-layers">
        <div class="tp-caption tp-static-layer"
          id="slide-37-layer-2"
          data-x="['left','left','left','left']" data-hoffset="['50','50','50','50']"
          data-y="['bottom','bottom','bottom','bottom']" data-voffset="['230','180','150','100']"
          data-whitespace="nowrap"
          data-visibility="['on','on','on','on']"
          data-fontsize="['48','48','28','28']"
          data-start="500"
          data-responsive_offset="on"
          data-basealign="slide"
          data-startslide="0"
          data-endslide="5"
          style="z-index: 5;">
          <h1><span class="t_white">Chúng tôi sẽ giúp bạn tìm được <br>căn nhà ưng ý.</span></h1>
        </div>
        <div class="tp-caption tp-static-layer"
          id="slide-37-layer-2"
          data-x="['left','left','left','left']" data-hoffset="['50','50','50','50']"
          data-y="['bottom','bottom','bottom','bottom']" data-voffset="['150','100','120','120']"
          data-whitespace="nowrap"
          data-visibility="['on','on','on','on']"
          data-start="500"
          data-basealign="slide"
          data-startslide="0"
          data-endslide="5"
          style="z-index: 5;">
          <p class="t_white">Chúng tôi có nhiều loại bất động sản khác nhau phù hợp với yêu cầu của bạn.
             <br> Bạn sẽ tìm được ngôi nhà phù hợp với bạn ở đây.
          </p>
        </div>
        <div class="tp-caption tp-static-layer"
          id="slide-37-layer-2"
          data-x="['left','left','left','left']" data-hoffset="['50','50','50','50']"
          data-y="['bottom','bottom','bottom','bottom']" data-voffset="['60','60','60','60']"
          data-whitespace="nowrap"
          data-visibility="['on','on','on','on']"
          data-start="500"
          data-basealign="slide"
          data-startslide="0"
          data-endslide="5"
          style="z-index: 5;"><a href="listing1.html" class="btn-white border_radius uppercase">Xem ngay</a>
        </div>
      </div>
    </ul>
  </div>
</div>
<!--Slider ends-->

<!-- Home-Search -->
<button type="button" class="form_opener"><i class="fa fa-bars"></i></button>
<div class="tp_overlay" style="top:87px">
  <form action="ban.html" class="callus top30 clearfix centered">
  <h2 class="text-uppercase t_white bottom20 text-center">Tìm kiếm</h2>
    <div class="row">
      <div class="col-sm-12">
        <div class="single-query bottom15">
          <input type="text" class="keyword-input" placeholder="Từ khoá (e.g. 'office')">
        </div>
      </div>
      <div class="col-md-12 col-sm-12 col-xs-12 text-right form-group top30 text-center">
        <button type="submit" class="border_radius btn-yellow text-uppercase">Tìm kiếm</button>
      </div>
    </div>
    <div class="row">
      <div class="col-sm-12">
        <div class="group-button-search">
          <a data-toggle="collapse" href=".search-propertie-filters" class="more-filter">
            <i class="fa fa-plus text-1" aria-hidden="true"></i><i class="fa fa-minus text-2 hide" aria-hidden="true"></i>
            <div class="text-1">Nâng cao</div>
            <div class="text-2 hide">Nâng cao</div>
          </a>
        </div>
        <div class="search-propertie-filters collapse">
          <div class="container-2 bottom30">
            <div class="row">
              <div class="callus">
                <div class="col-sm-6 bottom10">
                  <div class="single-query form-group">
                    <div class="intro">
                      <select>
                        <option class="active">Nhà đất bán</option>
                        <option>Cho Thuê </option>
                      </select>
                    </div>
                  </div>
                </div>
                <div class="col-sm-6 bottom10">
                  <div class="single-query form-group">
                    <div class="intro">
                      <select>
                        <option>Loại Nhà Đất</option>
                        <option class="active">Tất cả</option>
                        <option>Bayonne </option>
                        <option>Greenville</option>
                        <option>Manhattan</option>
                        <option>Queens</option>
                        <option>The Heights</option>
                      </select>
                    </div>
                  </div>
                </div>
                <div class="col-sm-6 bottom10">
                  <div class="single-query form-group">
                    <div class="intro">
                      <select>
                        <option class="active">Tỉnh/thành phố</option>
                        <option>All areas</option>
                        <option>Bayonne </option>
                        <option>Greenville</option>
                        <option>Manhattan</option>
                        <option>Queens</option>
                        <option>The Heights</option>
                      </select>
                    </div>
                  </div>
                </div>
                <div class="col-sm-6 bottom10">
                  <div class="single-query form-group">
                    <div class="intro">
                      <select>
                        <option class="active">Quận/huyện</option>
                        <option>All areas</option>
                        <option>Bayonne </option>
                        <option>Greenville</option>
                        <option>Manhattan</option>
                        <option>Queens</option>
                        <option>The Heights</option>
                      </select>
                    </div>
                  </div>
                </div>
                <div class="col-sm-6 bottom10">
                  <div class="single-query form-group">
                    <div class="intro">
                      <select>
                        <option class="active">Diện tích</option>
                        <option>All areas</option>
                        <option>Bayonne </option>
                        <option>Greenville</option>
                        <option>Manhattan</option>
                        <option>Queens</option>
                        <option>The Heights</option>
                      </select>
                    </div>
                  </div>
                </div>
                <div class="col-sm-6 bottom10">
                  <div class="single-query form-group">
                    <div class="intro">
                      <select>
                        <option class="active">Mức giá</option>
                        <option>All areas</option>
                        <option>Bayonne </option>
                        <option>Greenville</option>
                        <option>Manhattan</option>
                        <option>Queens</option>
                        <option>The Heights</option>
                      </select>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </form>
</div>
<!-- Home-Search End -->
